ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/default/panels/panel
data/ui/*.ui
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
lxpanel.pc
m4/
missing
mkinstalldirs
po/LINGUAS
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.gmo
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/*.o
*/*/*.o
*/*/*/*.o
*/.deps/
*/*/.deps/
*/*/*/.deps/
*/.libs/
*/*/.libs/
*/*/*/.libs/
*/*.lo
*/*/*.lo
*/*/*/*.lo
*/*.la
*/*/*.la
*/*/*/*.la
*/*.a
*/*/*.a
*/*/*/*.a
src/lxpanel
src/lxpanelctl
src/xml-purge
stamp-h1
man/*.1
debian/files
debian/lxpanel.debhelper.log
debian/lxpanel.substvars
debian/lxpanel/*
debian/stamp-patched
data/two_panels/panels/bottom
data/two_panels/panels/top
