[Desktop Entry]
Name=Web Browser
Name[pt_BR]=Navegador web
Name[zh_TW]=瀏覽器
GenericName=X Web Browser
GenericName[pt_BR]=Navegador web gráfico
GenericName[zh_TW]=網頁瀏覽器
Exec=/usr/bin/x-www-browser %u
Terminal=false
Type=Application
Categories=GTK;WebBrowser;Network
Icon=web-browser
NoDisplay=true
