[Desktop Entry]
Encoding=UTF-8
Name=Web Browser
GenericName=X Web Browser
Exec=/usr/bin/x-www-browser %u
Terminal=false
Type=Application
Categories=GTK;WebBrowser;Network
Icon=applications-internet
NoDisplay=true
