#!/usr/bin/make -f

DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh ${@} --parallel --with autoreconf

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh -- 

override_dh_auto_configure:
ifeq ($(DEB_HOST_ARCH_OS),linux)
	dh_auto_configure -- --enable-man --with-plugins=all --disable-silent-rules --enable-indicator-support
else
	# omit netstat plugin on non-linux, requires wireless-tools
	dh_auto_configure -- --enable-man --with-plugins=all,-netstat --disable-silent-rules
endif

override_dh_strip:
	dh_strip --dbg-package=lxpanel-dbg

override_dh_auto_install:
	dh_auto_install
	rm -f debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/lxpanel/*.la

override_dh_install:
	# move indicator.so out of the way
	mkdir -p debian/lxpanel-indicator-applet-plugin/usr/lib/$(DEB_HOST_MULTIARCH)/lxpanel/plugins
	mv debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/lxpanel/plugins/indicator.so debian/lxpanel-indicator-applet-plugin/usr/lib/$(DEB_HOST_MULTIARCH)/lxpanel/plugins/indicator.so
	# install rest of files
	dh_install --fail-missing

override_dh_makeshlibs:
	# plugins are not shared libs so disable processing for them
	dh_makeshlibs -X/plugins/
